
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ma Shan Zheng", cursive;
}

.box1 {
    display: flex;
    flex-direction: column;
    background: #192655;
    width: 400px;
    /* height: 600px; */
    border: 2px solid #192655;
    border-radius: 8px;
    padding: 10px 20px;
}
.box1 .content {
    flex: 1;
}

.box1 .content h1 {
    color: whitesmoke;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.6;
}

.box1 .content h3 {
    font-family: "Jaro", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--font-primary-color);
}

.box1 .content p {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: 19px;
    margin: 20px 0 40px;
    line-height: 1.4;
}

.box1 .btn-box {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    width: 345px;
    height: 50px;
    background: #192655;
    margin-bottom: 20px;
    /* border: 2px solid greenyellow; */
}

.banner-container{
	height: 170px;
    width: 100%;
    padding: 20px 10px;
	overflow: hidden;
	position: relative;
}

.box1 .image-content {
    display: flex;
    transition: transform 0.5s ease; /* 平滑过渡效果 */
}

.box1 .image {
    transition: opacity 0.5s ease; /* 透明度的过渡效果 */
    opacity: 0; /* 默认设置为不可见 */
    height: 150px;
    object-fit: cover;
    /* object-position: 0 0px; */
    border-radius: 8px;
}

/* 默认显示第一张图片 */
.box1 .image:first-child {
    opacity: 1;
}
.box1 .button {
    position: absolute;
    z-index: 10;
}
.box1 .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--font-primary-color);
    border: 2px solid var(--font-primary-color);
    border-radius: 8px;
    font-size: 19px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.box1 .btn-box a:nth-child(2) {
    background: transparent;
    color: var(--font-primary-color);
}

.box1 .btn-box a:nth-child(2):hover {
    color: whitesmoke;
}

.box1 .btn-box a:nth-child(2)::before {
    background: var(--font-primary-color);
}


.box1 .btn-box a:hover {
    color: var(--font-primary-color);
}

.box1 .btn-box a:hover::before {
    width: 100%;
}

.box1 .btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #192655;
    z-index: -1;
    transition: .5s;
}

@keyframes run {
	0%,10%{
		/* margin-left: 0; */
		transform: translateX(0);
	}
	20%,30%{
		/* margin-left: -1200px;; */
		transform: translateX(-360px);
	}
	40%,50%{
		/* margin-left: -2400px; */
		transform: translateX(-720px);
	}
	60%,70%{
		/* margin-left: -3600px; */
		transform: translateX(-1080px);
	}
	80%,90%{
		/* margin-left: -4800px; */
		transform: translateX(-1440px);
	}
	100%{
		/* margin-left: 0; */
		transform: translateX(0);
	}
}
